<%= tag.div id: dom_id(game, :meta) do %>
  <p>ID: <%= game.id %></p>
  <p><small>Seed: <%= game.seed %></small></p>
  <%= render partial: 'games/ship_info', locals: { game: } %>
  <p><%= link_to "Show this game", game, data: { turbo_action: 'advance', turbo_frame: 'modal' } %></p>
  <hr />
<% end %>
