<%= turbo_stream_from :games %>

<%= link_to 'Back', root_path %>
<h1>Games</h1>

<%= link_to "New game", new_game_path %>
<%= paginate @games %>

<%= turbo_frame_tag 'games_container' do %>
  <div id="games">
    <%= render 'collection' %>
  </div>
  <%= render 'scroll_frame', page: params.fetch('page', '1').to_i + 1 %>
<% end %>

<%= paginate @games %>
